{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="columns two">
        <ul class="nav nav-list affix-top">
            {% for link in month_links %}
            <li{% if link.active %} class="active"{% endif %}>
                <a href="{{ link.href }}">{{ link.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="columns ten">
        {% for week in weeks %}
            {% include 'week.html' %}
        {% endfor %}
    </div>
</div>

{% endblock %}
